*{
    margin: 0;
}
header{
    background-color: rgba(99, 161, 190, 0.603);
}
.block-main{
    float: left;
    background-color: rgba(150, 209, 236, 0.603);
    margin: 50px;
    width: 35%;
    height: 500px;
}
.block_foto{
    text-align: center;/*Костыльно*/
}
.foto{
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 100%;
}
.block-about_me{
    float: right;
    margin: 50px;
    width: 45%;
}
.block-skils{
    float: left;
    padding: 10px;
}
.block-img{
    margin: 10px;
}
.img-icon{
    margin: 5px;
    width: 20px;
}
.list-header{
    padding: 10px;
}
.text{
    padding: 10px;
}